<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%= (@rate * 100).round(4) %>%</dd>

  <dt>Monthly Payment</dt>
  <dd>$<%= '%.2f' % @payment %></dd>
</dl>

<a href="/payment/new">Calculate another payment</a> 
